@import "../utilities/colors";
@import "../utilities/sizes";

.atom-button {
    padding: 12px;
    background-color: $smoke_gray;
    border-radius: 3px;
    cursor: pointer;
}

.--small {
    width: 100px;
    padding: $small_space 0;
}

.--big {
    width: 250px;
    padding: $default_space 0;
}

.--take-up-whole-space {
    width: 100%;
}

.--orange {
    background-color: $orange;
    color: $white;
    border: $button_border_size solid $orange;
}

.--blue {
    background-color: $blue;
    color: $white;
    border: $button_border_size solid $blue;
}

.--bordered {
    border: $button_border_size solid $white;
    background-color: transparent;
    color: $white;
    &:hover {
        background-color: $white;
        color: $dark_blue;
    }
}