//- Consume landing page data from data.json.
- const fs = require('fs')
- const path = './src/data.json'; // The path is relative to where webpack.config.js file is.
- const file = fs.readFileSync(path)
- const data = JSON.parse(file)

include templates/landing_page

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description", content=`${data.description}`)
        link(rel="icon", href=require('../images/favicon.png'))
        title #{data.title}
    body
        +landingPage(data.landing_page)
        