include ../atoms/button

//- If element has semantic meaning (section, address, aside, etc), please use element(class="some_class") instead of .some_class
//- Just to make sure that "div" wrapper doesn't mean anything.

mixin hero(hero)
    .molecule-hero
        h1(class="molecule-hero__h1") #{hero.h1}
        h2(class="molecule-hero__h2") #{hero.h2}
        p(class="molecule-hero__p")  #{hero.p}
        +button("--bordered --big molecule-hero__callToAction", hero.cta)