include ../atoms/button

mixin hero()
    .molecule-hero
        h1(class="molecule-hero__h1") Hello I'm Muhammad D. Ramadhan
        h2(class="molecule-hero__h2") Consult, Design, and Develop Websites
        p(class="molecule-hero__p") Have something great in mind? Feel free to contact me. I'll help you to make it happen.
        +button("--bordered --big molecule-hero__callToAction", "LET'S MAKE CONTACT")