include ../atoms/input
include ../atoms/button
include ../atoms/span_button

//- If element has semantic meaning (section, address, aside, etc), please use element(class="some_class") instead of .some_class
//- Just to make sure that "div" wrapper doesn't mean anything.

mixin newsLetter(news_letter)
    article(class="molecule-newsLetter")
        +spanButton("&times;")
        .molecule-newsLetter__content
            h1 #{news_letter.heading}
            p #{news_letter.paragraph}
        form(class="molecule-newsLetter__form")
            .molecule-newsLetter__inputWrapper
                +input("email")
                label(for="email", class="hidePlease") Email
            .molecule-newsLetter__buttonWrapper
                +button("--orange --take-up-whole-space", `${news_letter.cta}`)

