include ../atoms/button

//- If element has semantic meaning (section, address, aside, etc), please use element(class="some_class") instead of .some_class
//- Just to make sure that "div" wrapper doesn't mean anything.

mixin notificationPanel(notification_panel)
    article(class="molecule-notificationPanel")
        .molecule-notificationPanel__content
            p!= `${notification_panel.content}`
            .molecule-notificationPanel__callToActionWrapper
                +button("--small --blue", `${notification_panel.cta}`)