mixin panelHeader()
    article(class="molecule-panelHeader")
        h1(class="molecule-panelHeader__h1") How Can I Help You?
        p(class="molecule-panelHeader__p")!= 'Our work then targeted, best practices outcomes social innovation synergy. Venture philanthropy, revolutionary inclusive policymaker relief. User-centered program areas scale.'