mixin panelHeader(panel_header)
    article(class="molecule-panelHeader")
        h1(class="molecule-panelHeader__h1")  #{panel_header.heading}
        p(class="molecule-panelHeader__p") #{panel_header.paragraph}