$blue: #007bc1;
$dark_blue: #004a75;
$darkest_blue: #050328;
$orange: #ff8000;
$dark_orange: #cc6600;
$smoke_gray:#e5e5e5;
$bold_smoke_gray: #b3abab;
$medium_smoke_gray: #aaabac;
$black: #333;
$white: white;