// Container.
$max_container_size: 1366px;
$max_container_tablet_size: 960px;
$max_container_mobile_size: 480px;

// Notification panel.
$max_notification_panel_content_size: 720px;

// Newsletter.
$max_news_letter_size: 640px;

// Default space inside block element such as paragraph, section, etc.
$default_space: 12px;

// Logo.
$logo_margin: 24px;

// Highlight.
$min_highlight_size: 240px;

// Icon inside highlight section.
$icon_margin: 12px;
$icon_size: 1.2em;