@import "../utilities/sizes";
@import "../utilities/colors";
@import "../utilities/z_indexes";

.organism-pageHeader {
    width: 100%;
    background: $dark_blue;
    background-image: url('../images/hero_banner.jpg');
    background-size: cover;
    background-blend-mode: multiply;
    position: relative;
}

.organism-pageHeader__headerBar {
    position: relative;
    background-color: transparent;
    max-width: $max_container_width;
    margin: 0 auto;
    z-index: $z_header;
    .molecule-headerBar {
        position: absolute;
        padding: $default_space;
    }
}

.organism-pageHeader__content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: $max_container_width;
    height: $max_container_tablet_height;
    margin: 0 auto;
    @media(max-width: $max_container_tablet_width) {
        height: $max_container_mobile_height;
        .molecule-hero {
            margin: $default_space;
        }

        .molecule-hero__h1 {
            font-size: $hero_h1_tablet;
        }

        .molecule-hero__h2 {
            font-size: $hero_h2_tablet;
        }

        .molecule-hero__p {
            font-size: $hero_p_tablet;
        }

        .molecule-hero__callToAction {
            font-size: $hero_cta_tablet;
        }
    }
}