// Sanitize CSS default for cross-browser styling.
@import "~sanitize.css";

// Make sure html and body take up the whole space.
html, body {
    height: 100%;
    width: 100%;
}

// Atomic design.
@import "atoms/index";
@import "molecules/index";
@import "organisms/index";

// These are styling for non-semantic element that breaks design system such as hacks, clearfix, etc.
// Or any styling from third party libraries that needs to be overriden. These are mostly CSS cosmetic surgery.
// Cosmetic surgery is not natural and considered bad practice, but Lee Min-Ho needs it.
@import "universe/index";

// Default fonts.
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', 'sans-serif';
}

// These are selected icons from FontAwesome. Why would we load hundreds of icons if we just need 6?
// Special thanks to https://icomoon.io. Icomoon lets you pick icons you only need.
// As little icons as possible :)
@import "utilities/icons";