// Sanitize CSS default for cross-browser styling.
@import "~sanitize.css";

// Make sure html and body take up the whole space.
html, body {
    height: 100%;
    width: 100%;
}

// Atomic design.
@import "atoms/index";
@import "molecules/index";
@import "organisms/index";
@import "templates/index";

// Global styling for non-semantic element, usually clearfix, colors, hacks, or CSS from third party libraries.
// Anything that doesn't comply with our design system.
@import "universe/index";

// Default fonts.
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', 'sans-serif';
}

// These are selected icons from FontAwesome. Why would we load hundreds of icons if we just need 6?
// Special thanks to https://icomoon.io. This web app lets you pick icons you only need.
// As little icons as possible :)
@import "utilities/icons";