@import "../utilities/sizes";
@import "../utilities/colors";

.molecule-highlight {
    padding: $default_space;
    border: 1px solid $bold_smoke_gray;
    box-shadow: 0px 0.8px 0 0.8px $white, inset 0 0.8px 0 0.8px $white;
    position: relative;
    height: 200px;
}

.molecule-highlight__paragraph {
    font-size: $panel_header_p_medium;
}

.molecule-highlight__heading {
    font-size: $panel_header_h2_medium;
    margin-top: unset;
}

.molecule-highlight__icon {
    position: absolute;
    top: 0;
    right: 0;
    color: $medium_smoke_gray;
    font-size: $icon_size;
    display: inline-block;
    margin: $icon_margin;
}