include ../molecules/highlight
include ../molecules/header_bar
include ../molecules/panel_header

//- If element has semantic meaning (section, address, aside, etc), please use element(class="some_class") instead of .some_class
//- Just to make sure that "div" wrapper doesn't mean anything.

mixin highlightsPanel(highlights_panel)
    main(class="organism-highlightsPanel" role="main")
        .organism-highlightsPanel__wrapper
            +panelHeader(highlights_panel.panel_header)
            section(class="organism-highlightsPanel__highlightsWrapper")
                //- Iterate through array of highlights. Each of which will be rendered inside wrapper.
                each highlight in highlights_panel.highlights
                    .organism-highlightsPanel__highlight
                        +highlight(highlight)