include ../molecules/highlight

mixin highlightsPanel()
    main(class="organism-highlightsPanel" role="main")
        div(class="organism-highlightsPanel__wrapper")
            section(class="organism-highlightsPanel__panelHeader")
                h1.h1 Hello Brother
            section(class="organism-highlightsPanel__highlightsWrapper")
                div(class="organism-highlightsPanel__highlight")
                    +highlight("saya ini keren sekali alala skd fkf djskalalla skdjfjfkd slalslskdkjdjfll", "icon-bullhorn", "Terlalu Manis")
                div(class="organism-highlightsPanel__highlight")
                    +highlight("saya ini keren sekali alala skd fkf djskalalla skdjfjfkd slalslskdkjdjfll", "icon-bullhorn", "Terlalu Manis")
                div(class="organism-highlightsPanel__highlight")
                    +highlight("saya ini keren sekali alala skd fkf djskalalla skdjfjfkd slalslskdkjdjfll", "icon-bullhorn", "Terlalu Manis")
                div(class="organism-highlightsPanel__highlight")
                    +highlight("saya ini keren sekali alala skd fkf djskalalla skdjfjfkd slalslskdkjdjfll", "icon-bullhorn", "Terlalu Manis")
                div(class="organism-highlightsPanel__highlight")
                    +highlight("saya ini keren sekali alala skd fkf djskalalla skdjfjfkd slalslskdkjdjfll", "icon-bullhorn", "Terlalu Manis")
                div(class="organism-highlightsPanel__highlight")
                    +highlight("saya ini keren sekali alala skd fkf djskalalla skdjfjfkd slalslskdkjdjfll", "icon-bullhorn", "Terlalu Manis")