include ../molecules/header_bar
include ../molecules/hero

mixin pageHeader()
    header(class="organism-pageHeader" id="pgheader")
        .organism-pageHeader__headerBar
            +headerBar()
        .organism-pageHeader__content
            +hero()

