include ../molecules/header_bar
include ../molecules/hero
include ../molecules/notification_panel

mixin pageHeader()
    +notificationPanel()
    header(class="organism-pageHeader" id="pgheader")
        .organism-pageHeader__headerBar
            +headerBar()
        .organism-pageHeader__content
            +hero()

